@import 'variables';


.button {
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  cursor: pointer;
  border: none;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--shadow-sm);
  display: flex;
  gap: 0.5rem;

  &:hover {
    box-shadow: var(--shadow-md);
  }
}

.button-primary {
  @extend .button;
  background-color: var(--button-primary);
  color: white;
  
  &:hover {
    background-color: var(--button-primary-hover);
  }
}

.button-secondary {
  @extend .button;
  background-color: var(--button-secondary);
  color: white;
  
  &:hover {
    background-color: var(--button-secondary-hover);
  }
}

.button-danger {
  @extend .button;
  background-color: var(--button-danger);
  color: white;
  
  &:hover {
    background-color: var(--button-danger-hover);
  }
}

@media (max-width: 768px) {

  .hideable {
    display: none;
  }
}