

.btn {
  border: none;
  background-color: var(--primary-color);
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 0.2s ease;

  .theme-dark & {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
  }

  @media (max-width: 768px) {
    .btn-hideable {
      display: none;
    }
  }

  &.btn-page{
    border: 1px solid var(--border-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    aspect-ratio: 1;
    width: 40px;
    height: 40px;

    &.active {
      background-color: var(--background-color);
      cursor: default;
    }
  }

  .theme-dark &.btn-page{
    border: 1px solid var(--dark-border-color);
    background-color: var(--dark-background-color);
    border-radius: 50%;
    aspect-ratio: 1;
    width: 40px;
    height: 40px;

    &.active {
      background-color: var(--dark-primary-color);
      cursor: default;
    }
  }

  &.btn-danger {
    color: white;
    background-color: #dc3545;
    
    &:hover {
      background-color: #bb2d3b;
    }
  }

  &.btn-success {
    color: white;
    background-color: #228B22;
    
    &:hover{
      background-color: #219b21;
    }
  }
}

